/* ONLY FOR GLOBAL CSS */

* {
  margin: 0;
  padding: 0;
  box-shadow: none;
}

body {
  background-color: #252525;
  color: #d1d4dc;
  font-family: roboto, poppins, sans-serif;
}

.container {
  background-color: #333333;
  border-radius: 15px;
  padding: 1rem;
  margin: 1rem;
}

/*SIDEBAR*/

.fullSideBar {
  width: 60px;
  height: 100vh;
  position: fixed;
  background-color: #333333;
  text-align: center;
}

.logo img {
  width: 50px;
  margin: 5px;
}

.sideBarWithoutLogo {
  width: 60px;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.sideBtn {
  width: 50px;
  padding: 5px;
  color: #d1d4dc;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  font-size: 0.33rem;
  text-decoration: none;
  cursor: pointer;
}

.sideBtn:hover {
  background-color: #4682B4;
}

.activeSideBtn{
  background-color: #4682B4;
}

.sideBtn img {
  width: 30px;
}

/*MAIN*/

#main {
  min-width: calc(100vw - 60px);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

main {
  min-width: calc(100vw - 60px);
  min-height: 100vh;
  top: 0px;
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

/*INPUTS*/

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/*SCROLLBAR*/

::-webkit-scrollbar {
  margin: 0;
  width: 2.5px;
}

::-webkit-scrollbar-thumb {
  margin: 0;
  width: 1px;
  background-color: #d1d4dc;
}

/*COLORS*/

.blue {
  color: #4682B4;
}

.green {
  color: #5CC082;
}

.red {
  color: #DC4C41;
}

/*SIDES*/

.right {
  display: flex;
  margin-right: 20px;
}

.column {
  display: flex;
  flex-direction: column;
}
