* {
    margin: 0;
    padding: 0;
    box-shadow: none;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #252525;
    color: white;
    font-family: roboto, poppins, sans-serif;
}

main {
    width: calc(100vw - 60px);
    min-height: 100vh;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.mainDataContainer {
    min-width: 500px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: #333333;
    border-radius: 15px;
}

.sideDataContainer {
    min-width: 500px;
    min-height: 300px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #333333;
    border-radius: 15px;
}

/*MAIN-DATA*/

.userName, .email, .accLevel {
    min-width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userNameOuter, .emailOuter, .accLevelOuter {
    margin: 2px;
    color: #4682B4;
    font-weight: bold;
}
.userNameInner,.emailInner,.accLevelInner {
    margin: 2px;
    color: white;
    font-weight:bold;
}

.deleteUserBtn {
    margin: 5px;
    padding: 5px;
    color: white;
    background-color: #DC4C41;
    border: 2px #DC4C41 solid;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.deleteUserBtn:hover {
    color: #DC4C41;
    background-color: white;
}

/*SIDE-DATA*/

.sideDiv {
    width: 460px;
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.sideLeft, .sideRight {
    display: flex;
}

.sideTitle, .sideStatus {
    display: flex;
    align-items: center;
}

.sideImg {
    width: 20px;
    margin: 5px;
}

.sideStatus {
    min-width: 100px;
    float: right;
}

.sideBtnData {
    min-width: 75px;
    min-height: 30px;
    background-color: #4682B4;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.sideBtnInner {
    background-color: #252525;
    border-radius: 5px;
    font-size: 1rem;
}
 
/*LOGIN*/

.login {
    min-width: 400px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -60px;
    background-color: #333333;
    border-radius: 15px;
    transition: all 0.5s linear;
    opacity: 2;
}

.register {
    min-width: 400px;
        min-height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: -60px;
        background-color: #333333;
        border-radius: 15px;
        transition: all 0.5s ease-out;
        opacity: 2;
}

.appear-from-bottom {
    opacity: 0;
    transform: translateY(50px);
    animation: appear-from-bottom 0.5s ease-out forwards;
}

@keyframes appear-from-bottom {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.login img, .register img {
    width: 50px;
    margin: 10px;
}

.usernameLogin, .emailLogin, .passwordLogin, .submitLogin {
    margin: 20px;
}

.usernameLoginTitle, .emailLoginTitle, .passwordLoginTitle {
    font-size: 1.5rem;
    font-weight: bold;
}

.usernameLoginInput, .emailLoginInput, .passwordLoginInput {
    margin: 5px 0 5px 0;
    padding: 5px;
    color: #333333;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
}

.emailLoginInput::placeholder, .passwordLoginInput::placeholder {
    color: #333333;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    margin: 5px;
}

.haveAcc {
    min-width: 200px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
}

.haveAccBtn {
    padding: 5px;
    color: #4682B4;
    background-color: transparent;
    font-weight: bold;
    border: 2px #333333 solid;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.haveAccBtn:hover {
    color: white;
    background-color: transparent;
    font-weight: bold;
    border-color: white;
    cursor: pointer;
}

.submitLogin {
    padding: 10px 15px 10px 15px;
    color: white;
    background-color: #4682B4;
    border: 2px #333333 solid;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.submitLogin:hover {
    color: #4682B4;
    background-color: white;
    border-color:#4682B4;
}

.error {
    color: #DC4C41;
    font-size: 0.8rem;
}

/*DELETE-CONFIRMATION*/

.delete-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
    display: none;

}

@-webkit-keyframes slideDown {
    0%,
    100% {
        -webkit-transform: translateY(-50px);
    }
    10%,
    90% {
        -webkit-transform: translateY(0px);
    }
}

@-moz-keyframes slideDown {
    0%,
    100% {
        -moz-transform: translateY(-50px);
    }
    10%,
    90% {
        -moz-transform: translateY(0px);
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    60% {
        transform: translateY(5%);
        opacity: 1;
    }

    80% {
        transform: translateY(-2%);
    }

    100% {
        transform: translateY(0);
    }
}

.delete-content {
    left: calc(50% - 200px);
    top: 10%;
    width: 400px;
    position: absolute;
    background-color: #252525;
    border: 1px solid white;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: slideDown;
    -moz-animation-name: slideDown;
    animation-name: slideDown;
}
.delete-content img {
    width: 50px;
    margin: 10px;
}

.delete-content button {
    margin: 15px 15px 0 15px;
    padding: 5px;
    color: white;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.deleteConfirmBtn {
    background-color: #DC4C41;
    border: 2px #DC4C41 solid;
    transition: all 0.3s ease-in-out;
}

.deleteConfirmBtn:hover {
    color: #DC4C41;
    background-color: white;
    border: 2px #DC4C41 solid;
}

.deleteCancelBtn {
    background-color: #4682B4;
    border: 2px #4682B4 solid;
    transition: all 0.3s ease-in-out;
}

.deleteCancelBtn:hover {
    color: #4682B4;
    background-color: white;
    border: 2px #4682B4 solid;
}

/*CIRCLE-ANIMATION*/

.circcontainer {
    position: absolute;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 999;
}

.circle {
    min-width: calc(100vw + 100vh);
    min-height: calc(100vw + 100vh);
    border-radius: 50%;
    background-color: #333333;
    animation-name: shrink-fade;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

.shrink {
    width: 150vw;
    height: 150vw;
}

.hidden {
    max-width: 0;
    max-height: 0;
    border-radius: 50%;
    animation-name: anti-shrink-fade;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}


@keyframes shrink-fade {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes anti-shrink-fade {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(0);
    }
}