.confirmationContainer {
    background-color: gray;
    /* opacity: 0.5; */
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    width: 80%;
    height: 80%;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: opacity 0.3s ease-in-out;
    /* Sets div on top of anything else */
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;  
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .confirmationContainer > div {
    opacity: 1;
    
  }
  
  .confirmationContainer img {
    width: 50%;
    padding-left: 50px;
  }
  .confirmationButtons {
    display: flex;
    padding-top: 2vh;
    flex-direction: column;
  }
  
  .confirmationButtons > div{
    display: flex;
    gap : 10px;
    align-items: center;
    justify-content: center;
  }

  .confirmationButtons button {
    border-radius: 10px;
    width: 30vh;
    height: 5vh;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: bold;
    border: none;

    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
  }
  
  .confirmationButtons button:hover {
    background-color: #0056b3;
  }
  
  .confirmationButtons button:first-child {
    background-color: #dc3545;
  }
  
  .confirmationButtons button:first-child:hover {
    background-color: #b02a37;
  }

  .confirmationContainer h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 28px;
    color: #333;
  }
  
  .confirmationContainer p {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
  }
  