.fullSideBar {
  width: 60px;
  height: 100vh;
  position: fixed;
  background-color: #333333;
  text-align: center;
  z-index: 9999;
}

.logo img {
  width: 50px;
  margin: 5px;
}

.sideBarWithoutLogo {
  width: 60px;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.sideBtn {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  place-items: center;
  width: 50px;
  padding: 5px;
  color: #d1d4dc;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  font-size: 0.33rem;
  cursor: pointer;
  overflow: hidden;
}

.activeSideBtn{
  background-color: #4682B4;
}

.sideBtn img {
  width: 30px;
  float: right;
}

.sideBtn:hover {
  grid-template-columns: repeat(2, 1fr);
  width: 90px;
  transform: translate(30px);
  transition: all 0.3s ease-in-out;
}

.sideBtn h1{
  display: none;
  opacity: 0;
}

.sideBtn:hover h1 {
  transition: opacity 2s ease-in-out;
  opacity: 1;
  display: block;
}